#parContOne{
     
    display: flex;
    justify-content: center;
    /* border: solid 1px red; */
    width: 80vw;
    margin: auto;
}


#phrase{
    /* background-color: blueviolet; */
    margin-top: 30px;
    background-color: var(--color-text5);
    justify-content: center;
    color: var(--color-text1);
    border-radius: 5px;
    width: 80vw;  
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    padding: 20px;

}

#headTitle{
    color: var(--color-text1);
    text-transform: capitalize;
    text-align: center;
    margin-top: 100px;
    font-size: 30px;
}

.about-content {
    display: flex;
    flex-direction: column;
    /* max-width: 200px; */
    gap: 10px;
}

#about-header{
    font-weight: lighter;
    font-size: 1.5rem;
    color: var(--link-color);
    text-transform: capitalize;
}


#containerTwo{
    display: flex;
    gap: 20px;
}

.about-image {
    /* width: 100%; */
    max-width: 200px;
    /* height: 300px; */
}

#officeLogo{
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 2px rgb(231, 189, 0) ;
}



@media (max-width: 700px){
    #containerTwo{
        /* background-color: red; */
        flex-direction: column-reverse;
    }
    #phrase {
        width: 100vw;
    }
    .about-image {
        display: none;
        /* max-width: 100%; */
        /* max-height: 500px; */
    }
    #divCardsContainer {
        width: 100vw;
        /* background-color: green; */
    }
    /* .devCards {
        width: 100%;
        background-color: red;
    } */
    
   
   
}


 