

#landing-container {
    background-image: url(../../assets/imageOne.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: auto;
    width: auto;
    height: 500vh;
    margin-bottom: 12px;
}

.landing1 {
    display: flex;
    flex-wrap: wrap;
}
.flex-logo {
    min-height: 425px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-grow: 2;
}
.flex-logo img {
    height: 300px;
    width: 300px;
}
.flex-slogan {
    min-height: 400px;
    flex-grow: 2;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.slogan-title span {
    font-size: 50px;
    color: #ff9900;
}
.hire-btn {
    background: var(--bg-color);
    border: none;
    border-radius: 15px;
    height: 50px;
    font-size: 20px;
    color: #FFFFFF;
    margin: 8px 0;
    padding: 0px;
    width: 200px;
    text-align: center;
}
.hire-btn:hover {
    cursor: pointer;
    box-shadow: 0 2px 50px 0 #876cca;
    transition: 1s;
}
.landing2 {
    display: flex;
    flex-wrap: wrap;
}
.flex-newsletter {
    min-height: 440px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-grow: 2;
}
.email-form {
    display: flex;
    justify-content: center;
    padding: 5px;
}
.email-input {
    height: 50px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 15px 0 0 15px;
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    cursor: text;
}
.subs-btn {
    background: var(--bg-color);
    border: none;
    border-radius: 0 15px 15px 0;
    height: 50px;
    font-size: 20px;
    color: #FFFFFF;
    margin: 8px 0;
    padding: 0px;
    width: 200px;
    text-align: center;
}
.subs-btn:hover {
    cursor: pointer;
    box-shadow: 0 2px 50px 0 #876cca;
    transition: 1s;
}
.flex-workers {
    min-height: 440px;
    flex-grow: 2;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.flex-workers img {
    height: auto;
    width: 100%;
}

/* Home Landing Page END*/

/* Services =====================================*/
.svc-container {
    background: var(--bg-color3);
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: .9;
    padding-top: 20px;
}
.svc-header {
    min-height: 250px;
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.svc-title {
    color: black;
    font-weight: 700;
    font-size: 40px;
}
.description {
    color: black;
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 15px;
}
.svc-cards {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-row {
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
}
.card { 
    background: var(--card-color);
    height: auto;
    width: 300px;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    transition: 0.2s;
    margin: 5px;
    display: flex;
    flex-direction: column;
}
.svc-images {
    border-radius: 10px 10px 0 0;
    height: 200px;
    width: 100%;
    align-self: center;
    margin-left: 38px;
}
.card-title {
    font-size: 20px;
    padding-bottom: 5px;
}
.card:hover {
    transform: scale(1.1);
    z-index: 1;
}
.btn {
    padding: 10px;
    background: var(--bg-color);
    color: white;
    border: none;
    border-radius: 5px;
}
.btn:hover {
    cursor: pointer;
    box-shadow: 0 2px 50px 0 #876cca;
    transition: 1s;
}

/* Services END*/

/* How it works =====================================*/
.hiw-title {
    background: var(--bg-color);
    color: var(--link-color);
    opacity: 1;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    padding-top: 20px;
}
/* STEP 01 */
.step-container1 {
    background: var(--bg-color2);
    display: flex;
    justify-content: center;
    opacity: .9;
}
.img-box1 {
    background: url(../../assets/letusknow.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 60%;
}
.step-row {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.step-box {
    background: var(--card-color);
    color: black;
    min-height: 300px;
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 8px;
    margin-left: -90px;
    transition: 0.2s;
}
.step-box:hover {
    transform: scale(1.1);
    z-index: 1;
}
.step-num {
    font-size: 30px;
}
.step-title {
    font-size: 40px;
    font-weight: lighter;
}
.step-info {
    margin: 20px 0;
    font-weight: 500;
    line-height: 25px;
}
/* Step 02 */
.step-container2 {
    background: var(--bg-color3);
    display: flex;
    justify-content: center;
}
.img-box2 {
    background: url(../../assets/legwork.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 70%;
}
.step-box2 {
    background: var(--card-color);
    color: black;
    min-height: 300px;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 8px;
    margin: 10px;
    transition: 0.2s;
}
.step-box2:hover {
    transform: scale(1.1);
    z-index: 1;
}
/* Step 03 */
.step-container3 {
    background: var(--bg-color2);
    display: flex;
    justify-content: center;
    width: 100%;
    height: 600px;
    opacity: .9;
}
.img-box3 {
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box3-image {
    height: 450px;
    width: 520px;
}
.step-box3 {
    background: var(--card-color);
    color: black;
    min-height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 8px;
    transition: 0.2s;
}
.step-box3:hover {
    transform: scale(1.1);
    z-index: 1;
}
/* Step 04 */
.step-container4 {
    background: var(--bg-color3);
    display: flex;
    justify-content: center;
}
.img-box4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 70%;
}
.box4-image {
    height: 550px;
    width: 390px;
}
.step-box4 {
    background: var(--card-color);
    color: black;
    min-height: 300px;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 8px;
    margin: 10px;
    transition: 0.2s;
}
.step-box4:hover {
    transform: scale(1.1);
    z-index: 1;
}

/* Search form =====================================*/

.search-container {
    background: var(--bg-color2);
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.search-h1 {
    font-size: 60px;
}
.search-h2 {
    font-size: 30px;
    color: var(--link-color);
}
.search-input {
    height: 50px;
    width: 500px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 15px 0 0 15px;
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    cursor: text;
}
.search-btn {
    background: var(--bg-color);
    border: none;
    border-radius: 0 15px 15px 0;
    height: 50px;
    font-size: 20px;
    color: #FFFFFF;
    margin: 8px 0;
    width: 200px;
    text-align: center;
}
.search-btn:hover {
    cursor: pointer;
    box-shadow: 0 2px 50px 0 #876cca;
    transition: 1s;
}

/* =========Media Query========= */

@media only screen and (max-width: 1000px) {

    /* Services */
    .svc-header {
        min-height: 200px;
        width: 70%;
        padding-top: 20px;
    }
    .svc-title {
        font-weight: 700;
        font-size: 30px;
        padding-bottom: 20px;
    }
    .description {
        font-weight: 400;
        font-size: 15px;
    }

    /* How it works */
.hiw-title {
    min-height: 300px;
    font-size: 70px;
    }

    /* STEP 01 */
    .step-container1 {  
    }
    .img-box1 {
        height: 400px;
        width: 50%;
    }
    .step-row {
        width: 100%;
        max-width: 1000px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .step-box {
        min-height: 250px;
        width: 40%;
        padding: 20px;
    }
    .step-num {
        font-size: 20px;
    }
    .step-title {
        font-size: 30px;
    }
    .step-info {
        margin: 10px 0;
    }

    /* Step 02 */
    .step-container2 {
    }
    .img-box2 {
        height: 400px;
        width: 70%;
        margin-bottom: 50px;
    }
    .step-box2 {
        min-height: 250px;
        padding: 20px;
    }

    /* Step 03 */
    .step-container3 {
        height: 500px;
    }
    .img-box3 {
        height: 250px;
        width: 50%;
    }
    .box3-image {
        height: 400px;
        width: 500px;
    }
    .step-box3 {
        min-height: 250px;
        width: 40%;
        padding: 20px;
    }

    /* Step 04 */
    .step-container4 {
        height: 500px;
    }
    .img-box4 {
        height: 500px;
    }
    .box4-image {
        height: 500px;
        width: 350px;
    }
    .step-box4 {
        min-height: 250px;
        width: 40%;
        padding: 20px;
    }

    /* Search form =====================================*/
    .search-container {
        height: 400px;
    }
    .search-h1 {
        font-size: 40px;
    }
    .search-h2 {
        font-size: 20px;
    }
    .search-input {
        height: 40px;
        width: 400px;
        font-size: 15px;
    }
    .search-btn {
        height: 40px;
        font-size: 15px;
        width: 100px;
    }
}