
.page-container{
    background: url(../../assets/imageOne.png);
    margin: auto;
    margin-top: 50px;
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: 10px;
    overflow: hidden;
}



.left {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    gap: 10px;
}

.overlay{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    z-index: 100;
}

/* SEARCH COMPONENT */

.search-page-container {
    display: flex;
    width: 90vw;
    padding: 10px;
}
.search-page-input {
    padding: 10px;
    width: 100%;
}

.search-result {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 90vw;
    padding: 10px;
}

.search-result-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    overflow: auto;
    justify-content: center;
    width: 100%;
    height: 70vh;
    
}

/* SEARCH-CARD COMPONENT */

.card-layer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0);
    z-index: 1;
}

.search-card {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    max-height: 400px;
    box-shadow: 1px 1px 1px;
}

.card-banner {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.card-banner img {
    width: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,50, 0.4);
    padding: 10px;
    gap: 20px;
}

.search-card:hover {
    background-color: var(--bg-hover);
    color: var(--color-text5);
    cursor: pointer;
}

.seller-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.seller-name {
    color: var(--link-color)
}

.seller-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 3.2rem;
    height: 3.2rem;
    overflow: hidden;
    border: solid 1px rgb(190, 183, 183);
}

.seller-pic img {
    width: 100%;
}

.seller-phrase {
    font-style: italic;
    font-weight: 500;
    font-size: 1.2rem ;
}

.rating-star {
    color: var(--link-color);
}

.rate-per-hour {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    font-size: small;
}
.service-rate {
    color: rgb(243, 202, 243);
}

@media (max-width: 500px) {
    .left {
        width: 100%;
    }
    .page-container {
        padding: 0px;
    }
}