
.page-container{
    background: url(../../assets/imageOne.png);
    margin: auto;
    margin-top: 50px;
    width: 100vw;
    /* max-width: 1400px; */
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    /* height: 90vh; */
    /* align-items: start; */
    gap: 10px;
    /* padding: 20px; */
    overflow: hidden;
}

.left {
    display: flex;
    flex-direction: column;
    /* width: 50%; */
    height: 100%;
    /* border: solid red 1px; */
    align-items: center;
    gap: 10px;
}
.right {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 300px;
    /* right: 20px; */
    height: 100vh;
    /* border: solid blue 1px; */
    background-color: lightcyan;
    z-index: 9999;
}
.overlay{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
}

/* SEARCH COMPONENT */

.search-page-container {
    display: flex;
    /* align-self: flex-start ; */
    width: 90vw;
    /* border: 1px solid white; */
    padding: 10px;
}
.search-page-input {
    /* flex: 3; */
    padding: 10px;
    width: 100%;
}

.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    text-align: center;
    border: 1px solid white;
}

.search-result {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 90vw;
    padding: 10px;
    /* border: solid white 1px; */
    /* align-items: flex-start; */
    /* justify-content: center; */
}

.search-result-cards {
    display: flex;
    flex-wrap: wrap;

    /* align-items: flex-start; */
    gap: 20px;
    overflow: auto;
    justify-content: center;
    width: 100%;
    height: 70vh;
    /* background-color: salmon; */
    
}


.search-card:hover {
    background-color: rgb(128, 102, 168);
    color: rgb(226, 222, 231);
    cursor: pointer;
}

/* RIGHT COMPONENTS */

.profile-banner {
    padding: 20px;
    color: white;
    width: 100%;
    height: 300px;
    background-color: purple;
}

.right img {
    position: relative;
    top: -5px;
    right: 20px;
    width: 150%;
}

.profile-picture {
    position: relative;
    top: -50px;
    left: 40px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* border: 2px red solid; */
    overflow: hidden;
}

.testi-heading {
    text-align: center;
}

.testimonials {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.testi {
    display: flex;
    justify-content: space-around;
}

/* SEARCH-CARD COMPONENT */

.search-card {
    display: flex;
    flex-direction: column;
    /* width: 200px; */
    /* min-width: 100px; */
    max-width: 300px;
    /* flex: 1 1 200px; */
    /* flex: 1 1 200px; */
    max-height: 400px;
    /* height: 300px; */
    /* height: 15rem; */
    /* color: white; */
    box-shadow: 1px 1px 1px rgb(94, 80, 103);
}

.card-banner {
    display: flex;
    width: 100%;
    /* height: 40%; */
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.card-banner img {
    width: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    background-color: rgba(0,0,0, 0.3);
    height: fit-content;
    padding: 10px;
    gap: 20px;
}

.seller-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.seller-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 3.2rem;
    height: 3.2rem;
    overflow: hidden;
}

.seller-pic img {
    width: 100%;
}

.seller-phrase {
    font-style: italic;
    font-weight: 500;
    font-size: 1.2rem ;
}

.rating-star {
    color: rgb(204, 204, 7);
}

.rate-per-hour {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    font-size: small;
}
.service-rate {
    color: rgb(243, 202, 243);
}

@media (max-width: 500px) {
    .left {
        width: 100%;
    }
    .page-container {
        padding: 0px;
    }
}