.page-container{
    background-color: gray;
    width: 100vw;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    height: 100vh;
    /* align-items: start; */
    gap: 10px;
    padding: 20px;
    overflow: hidden;
}

.left {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    /* border: solid red 1px; */
    align-items: center;
    gap: 10px;
}
.right {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    /* border: solid blue 1px; */
    background-color: lightcyan;
}

.search-container {
    display: flex;
    /* align-self: flex-start ; */
    width: 100%;
    border: 1px solid white;
    gap: 10px;
    padding: 10px;
}

.search-input {
    flex: 3;
}
.filter {
    flex: 1;
    text-align: center;
    border: 1px solid white;
}

.search-result {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
    border: solid white 1px;
    align-items: flex-start;
    /* justify-content: center; */
}

.popular-services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2px;
    border: 1px solid white;
    width: 100%;
}

.services {
    border: solid 1px salmon;
    padding: 5px;
}

.search-result-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    gap: 5px;
    overflow-y: auto;
    width: 100%;
}

.search-card {
    display: flex;
    border: 1px solid white;
    min-width: 200px;
    max-width: 300px;
    flex: 1;
    height: 300px;
    /* width: 200px; */
}


.services:hover, .search-card:hover, .filter:hover {
    background-color: purple;
    cursor: pointer;
}

/* RIGHT COMPONENTS */

.profile-banner {
    padding: 20px;
    color: white;
    width: 100%;
    height: 300px;
    background-color: purple;
}

img {
    position: relative;
    top: -5px;
    right: 20px;
    width: 150%;
}

.profile-picture {
    position: relative;
    top: -50px;
    left: 40px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* border: 2px red solid; */
    overflow: hidden;
}

.testi-heading {
     text-align: center;
}

.testimonials {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.testi {
    display: flex;
    justify-content: space-around;
}

@media (max-width: 500px) {
    .page-container {
        background-color: red;
    }
    .right {
        display: none;
    }
    .left {
        width: 100%;
    }
}