
#landing-container {
    /* background-image: url(../../assets/imageOne.png); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-attachment: fixed; */
    /* background-position: center; */
    width: auto;
    min-height: 80vh;
}

.landing-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh; 
}

/*>>>>>> left-landing <<<<<<*/

.left-landing {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.slogan {
    min-height: 440px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--color-text1);
}

.slogan-title span {
    font-size: 50px;
    color: #ff9900;
}

.hire-btn {
    background: var(--bg-color);
    border: none;
    border-radius: 10px;
    height: 40px;
    margin: 8px 0;
    padding: 5px;
    width: 200px;
    text-align: center;
}

.hirebtn-txt {
    font-size: 18px;
    text-decoration: none;
    font-weight: 700;
    color: var(--color-text5);
}

.hirebtn-txt:hover {
    cursor: pointer;
    color: var(--link-color);
}

.newsletter {
    min-height: 440px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--color-text1);
}

.email-form {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.email-input {
    height: 45px;
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 15px 0 0 15px;
    font-size: 15px;
    text-align: center;
    font-weight: 400;
    cursor: text;
}

.email-input:hover {
    box-shadow: 0px 0px 2px;
}

.subs-btn {
    background: var(--bg-color);
    border: none;
    border-radius: 0 10px 10px 0;
    height: 45px;
    font-size: 18px;
    color: var(--color-text5);
    font-weight: 700;
    margin: 8px 0;
    padding: 0px;
    width: 200px;
    text-align: center;
}

.subs-btn:hover {
    cursor: pointer;
    color: var(--link-color);
}


/*>>>>>> Right-landing <<<<<<*/

.flex-workers {
    min-height: 440px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-workers img {
    height: auto;
    width: 100%;
}

/* Home Landing Page END*/


/* Services ====================*/

.svc-container {
    background: var(--bg-color3);
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* opacity: .9; */
    padding-top: 50px;
}

.svc-header {
    min-height: 250px;
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.svc-title {
    color: var(--link-color);
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 15px;
}

.description {
    color: var(--color-text1);
    font-weight: 400;
    font-size: 25px;
    padding-bottom: 15px;
}

.svc-cards {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.card-row {
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
}

.card { 
    background: var(--color-text2);
    height: auto;
    width: 300px;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    transition: 0.2s;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.card-body {
    height: 200px;
    border-radius: 0 0 10px 10px;
}

.svc-images {
    border-radius: 10px 10px 0 0;
    height: 200px;
    width: 100%;
    align-self: center;
    margin-bottom: 20px;
}

.card-title {
    font-size: 20px;
    margin-bottom: 20px;
    color: var(--link-color);
}

.card-text {
    font-size: 15px;
    text-align: center;
    line-height: 20px;
    color: var(--color-text5);
}

.card:hover {
    transform: scale(1.1);
    z-index: 1;
}

/* .btn {
    padding: 10px;
    background: var(--bg-color3);
    color: black;
    border: 1px solid black;
    font-weight: 700;
    border-radius: 5px;
    width: 150px;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 2px 50px 0 #876cca;
    transition: 1s;
} */

/* Services END*/


/* How it works ====================*/

.hiw-title {
    background: var(--bg-color);
    color: var(--link-color);
    opacity: 1;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    padding-top: 20px;
}

/* STEP 01 */

.step-container1 {
    background: var(--bg-color2);
    display: flex;
    justify-content: center;
    /* opacity: .9; */
}

.img-box1 {
    background: url(../../assets/letusknow.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 60%;
}

.step-row {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.step-box {
    background: var(--color-text2);
    color: var(--color-text5);
    min-height: 300px;
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 8px;
    margin-left: -90px;
    transition: 0.2s;
}

.step-box:hover {
    transform: scale(1.1);
    z-index: 1;
}

.step-num {
    font-size: 40px;
    color: var(--link-color);
}

.step-title {
    font-size: 30px;
    font-weight: lighter;
}

.step-info {
    margin: 20px 0;
    font-weight: 500;
    line-height: 25px;
}

/* Step 02 */

.step-container2 {
    background: var(--bg-color3);
    display: flex;
    justify-content: center;
}

.img-box2 {
    background: url(../../assets/legwork.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 70%;
}

.step-box2 {
    background: var(--color-text2);
    color: var(--color-text5);
    min-height: 300px;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 8px;
    margin: 10px;
    transition: 0.2s;
}

.step-box2:hover {
    transform: scale(1.1);
    z-index: 1;
}

/* Step 03 */

.step-container3 {
    background: var(--bg-color2);
    display: flex;
    justify-content: center;
    width: 100%;
    height: 600px;
    /* opacity: .9; */
}

.img-box3 {
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box3-image {
    height: 450px;
    width: 520px;
}

.step-box3 {
    background: var(--color-text2);
    color: var(--color-text5);
    min-height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 8px;
    transition: 0.2s;
}

.step-box3:hover {
    transform: scale(1.1);
    z-index: 1;
}

/* Step 04 */

.step-container4 {
    background: var(--bg-color3);
    display: flex;
    justify-content: center;
}

.img-box4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 70%;
}

.box4-image {
    height: 550px;
    width: 390px;
}

.step-box4 {
    background: var(--color-text2);
    color: var(--color-text5);
    min-height: 300px;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 8px;
    margin: 10px;
    transition: 0.2s;
}

.step-box4:hover {
    transform: scale(1.1);
    z-index: 1;
}

/* Search form =================*/

.search-container {
    background: var(--bg-color2);
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.search-h1 {
    font-size: 60px;
    color: var(--link-color);
}

.search-h2 {
    font-size: 30px;
    color: var(--color-text1);
}

.search-input {
    height: 50px;
    width: 500px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 15px 0 0 15px;
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    cursor: text;
}

.search-input:hover {
    box-shadow: 0px 0px 2px;
}

.search-btn {
    background: var(--bg-color);
    border: none;
    border-radius: 0 15px 15px 0;
    height: 50px;
    font-size: 25px;
    color: var(--color-text5);
    margin: 8px 0;
    width: 200px;
    text-align: center;
}

.search-btn:hover {
    cursor: pointer;
    color: var(--link-color);
}


/* =========Media Query========= */

@media only screen and (max-width: 1000px) {

    /* Services */
    .svc-header {
        min-height: 200px;
        width: 70%;
        padding-top: 20px;
    }
    .svc-title {
        font-weight: 700;
        font-size: 30px;
        padding-bottom: 20px;
    }
    .description {
        font-weight: 400;
        font-size: 15px;
    }


    /* How it works */

    .hiw-title {
    min-height: 300px;
    font-size: 70px;
    }

    /* STEP 01 */

    .step-container1 { 

    }
    .img-box1 {
        height: 400px;
        width: 50%;
    }
    .step-row {
        width: 100%;
        max-width: 1000px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .step-box {
        min-height: 250px;
        width: 40%;
        padding: 20px;
    }
    .step-num {
        font-size: 30px;
    }
    .step-title {
        font-size: 20px;
    }
    .step-info {
        margin: 10px 0;
    }

    /* Step 02 */

    .step-container2 {
    }
    .img-box2 {
        background-position: center;
        height: 400px;
        width: 70%;
        margin-bottom: 20px;
    }
    .step-box2 {
        min-height: 250px;
        padding: 20px;
    }

    /* Step 03 */

    .step-container3 {
        height: 400px;
    }
    .img-box3 {
        height: 250px;
        width: 50%;
    }
    .box3-image {
        height: 350px;
        width: 400px;
    }
    .step-box3 {
        min-height: 250px;
        width: 40%;
        padding: 20px;
    }

    /* Step 04 */

    .step-container4 {
        height: 400px;
    }
    .img-box4 {
        height: 500px;
    }
    .box4-image {
        height: 450px;
        width: 300px;
    }
    .step-box4 {
        min-height: 250px;
        width: 40%;
        padding: 20px;
    }


    /* Search form ===================*/

    .search-container {
        height: 400px;
    }
    .search-h1 {
        font-size: 40px;
    }
    .search-h2 {
        font-size: 20px;
    }
    .search-input {
        height: 40px;
        width: 400px;
        font-size: 15px;
    }
    .search-btn {
        height: 40px;
        font-size: 15px;
        width: 100px;
    }
}


/* >>> Media Query Mobile view <<<< */

@media only screen and (max-width: 800px) {
    /*>>>>>> left-landing <<<<<<*/
    .slogan {
        min-height: 340px;
    }
    .slogan-title span {
        font-size: 35px;
    }
    .newsletter {
        min-height: 340px;
    }
    .email-form {
        display: flex;
        justify-content: center;
        padding: 5px;
    }
    .email-input {
        height: 35px;
        width: 250px;
        border-radius: 10px 0 0 10px;
        font-size: 12px;
    }
    .subs-btn {
        height: 35px;
        font-size: 12px;
        width: 100px;
    }
    .newsletter h3 {
        font-size: 15px;
    }

    /*>>>>>> Right-landing <<<<<<*/

    .flex-workers {
        min-height: 340px;
    }
    .flex-workers img {
        height: auto;
        width: 80%;
    }

    /* Home Landing Page END*/

    /* Services ====================*/

    .svc-container {
        background: var(--bg-color3);
        min-height: 80vh;
    }
    .svc-header {
        min-height: 250px;
        width: 50%;
    }
    .svc-title {
        font-size: 30px;
    }
    .description {
        font-size: 15px;
    }
    .card { 
        height: auto;
        width: 250px;
    }
    .svc-images {
        border-radius: 10px 10px 0 0;
        height: 200px;
        width: 100%;
        align-self: center;
    }
    .card-title {
        font-size: 15px;
    }
    .btn {
        width: 100px;
    }

    /* Services END*/

    /* How it works ====================*/

    .hiw-title {
        min-height: 350px;
        font-size: 60px;
    }

    /* STEP 01 */

    .step-container1 { 

    }
    .img-box1 {
        height: 330px;
        width: 50%;
    }
    .step-row {
        width: 100%;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .step-box {
        height: 90px;
        width: 50%;
        padding: 30px;
        margin: 0;
        margin-bottom: 20px;
    }
    .step-num {
        font-size: 25px;
    }
    .step-title {
        font-size: 20px;
    }
    .step-info {
        font-size: 15px;
    }

    /* Step 02 */

    .img-box2 {
        background-position: center;
        height: 400px;
        width: 70%;
        margin-bottom: 0;
    }
    .step-box2 {
        height: 90px;
        width: 50%;
        padding: 30px;
        margin-top: 20px;
    }
 
    /* Step 03 */

    .step-container3 {
        height: 600px;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .img-box3 {
        height: 300px;
    }
    .box3-image {
        height: 350px;
        width: 400px;
    }
    .step-box3 {
        height: 90px;
        width: 50%;
        padding: 30px;
        margin-top: 20px;
    }
    /* Step 04 */

    .step-container4 {
        min-height: 600px;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .img-box4 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
        width: 70%;
    }
    .box4-image {
        height: 350px;
        width: 290px;
    }
    .step-box4 {
        height: 90px;
        width: 50%;
        padding: 30px;
        margin-top: 20px;
    }

    /* Search form =================*/

    .search-container {
        height: 400px;
    }
    .search-h1 {
        font-size: 40px;
    }
    .search-h2 {
        font-size: 20px;
    }
    .search-input {
        height: 40px;
        width: 300px;
        border-radius: 10px 0 0 10px;
        font-size: 15px;
    }
    .search-btn {
        border-radius: 0 10px 10px 0;
        height: 40px;
        font-size: 15px;
        width: 150px;
    }
}


@media only screen and (max-width: 480px) {

    /*>>>>>> left-landing <<<<<<*/
    .slogan {
        min-height: 240px;
    }
    .slogan-title span {
        font-size: 25px;
    }
    .slogan-title {
        font-size: 15px;
    }
    .slogan h3 {
        font-size: 12px;
    }
    .hire-btn {
        border-radius: 5px;
        height: 25px;
        width: 150px;
    }
    .hirebtn-txt {
        font-size: 10px;
    }
    .newsletter {
        min-height: 240px;
    }
    .email-form {
        display: flex;
        justify-content: center;
        padding: 5px;
    }
    .email-input {
        height: 25px;
        width: 150px;
        border-radius: 5px 0 0 5px;
        font-size: 10px;
    }
    .subs-btn {
        height: 25px;
        font-size: 10px;
        width: 80px;
        border-radius: 0 5px 5px 0;
    }
    .newsletter h3 {
        font-size: 10px;
    }


    /*>>>>>> Right-landing <<<<<<*/
    .flex-workers {
        /* min-height: 340px; */
    }
    .flex-workers img {

    }

    /* Home Landing Page END*/

    /* Services ====================*/

    .svc-container {
        min-height: 80vh;
    }
    .svc-header {
        min-height: 175px;
        width: 80%;
    }
    .svc-title {
        font-size: 20px;
    }
    .description {
        font-size: 13px;
    }
    .card { 
        height: auto;
        width: 250px;
    }
    .svc-images {
        border-radius: 10px 10px 0 0;
        height: 150px;
        width: 100%;
        align-self: center;
    }
    .card-title {
        font-size: 15px;
    }
    .card-text {
        font-size: 12px;
    }

    /* Services END*/

    /* How it works ====================*/

    .hiw-title {
        min-height: 250px;
        font-size: 40px;
    }

    /* STEP 01 */

    .step-container1 { 

    }
    .img-box1 {
        height: 200px;
        width: 50%;
        background-size: center;
    }
    .step-row {
        width: 100%;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .step-box {
        min-height: 150px;
        width: 80%;
        padding: 10px;
    }
    .step-num {
        font-size: 20px;
    }
    .step-title {
        font-size: 15px;
    }
    .step-info {
        font-size: 12px;
    }

    /* Step 02 */

    .img-box2 {
        height: 220px;
        width: 80%;
    }
    .step-box2 {
        min-height: 150px;
        width: 80%;
        padding: 10px;
    }
 
    /* Step 03 */

    .step-container3 {
        height: 500px;
    }
    .img-box3 {
        height: 300px;
    }
    .box3-image {
        height: 300px;
        width: 320px;
    }
    .step-box3 {
        min-height: 150px;
        width: 80%;
        padding: 10px;
    }
    
    /* Step 04 */
    .step-container4 {
        min-height: 500px;
    }
    .img-box4 {
        height: 300px;
        width: 70%;
    }
    .box4-image {
        height: 300px;
        width: 200px;
    }
    .step-box4 {
        min-height: 150px;
        width: 80%;
        padding: 10px;
    }

    /* Search form =================*/

    .search-container {
        height: 400px;
    }
    .search-h1 {
        font-size: 25px;
    }
    .search-h2 {
        font-size: 12px;
    }
    .search-input {
        height: 30px;
        width: 200px;
        border-radius: 5px 0 0 5px;
        font-size: 10px;
    }
    .search-btn {
        border-radius: 0 5px 5px 0;
        height: 30px;
        font-size: 10px;
        width: 100px;
    }
}


/* =================================================

FAQ */

/* FAQ BANNER */

.faq-container {
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.faq-banner {
    background-image: url(../../assets/faqbanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh;
    margin-top: 50px;
}

.faq-box {
    height: 300px;
    width: 70%;
    padding: 20px;
    background-color: var(--color-text3);
    opacity: 0.9;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.faq-border {
    border: solid 10px #ff9900;
    height: 150px;
    min-width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.faq-title {
    color: var(--link-color);
    font-size: 50px;
    display: flex;
    flex-wrap: wrap;
}

/* FAQ BANNER END */

.faqcontent-container {
    min-height: 80vh;
    width: 100%;
    background-image: url(../../assets/imageOne.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 100px;
}

.content-box {
    min-height: auto;
    min-width: 100%;
    background-color: var(--color-text3);
    border-radius: 20px;
    align-items: flex-start;
    padding: 20px 40px;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
}


.faq1 {
    font-size: 30px;
    color: var(--link-color);
    padding-left: 50px;
}

.faq1-box p {
    font-size: 15px;
    color: var(--color-text1);
    padding-left: 70px;
}

@media only screen and (max-width: 420px) {
    .faq-box {
        height: 200px;
        width: 80%;
        padding: 15px;
    }
    .faq-border {
        border: solid 7px #ff9900;
        height: 150px;
        padding: 10px;
    }
    .faq-title {
        font-size: 30px;
        display: flex;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 760px) {
    .faq-box {
        height: 200px;
        width: 80%;
        padding: 15px;
    }
    .faq-border {
        border: solid 7px #ff9900;
        height: 150px;
        padding: 10px;
    }
    .faq-title {
        font-size: 30px;
        display: flex;
        flex-wrap: wrap;
    }
}

/* FAQ END HERE*/

/* =================================================

PRIVACY POLICY*/

/* PRIVACY POLICY BANNER */
   
.privacy-container {
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.privacy-banner {
    background-image: url(../../assets/faqbanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh;
    margin-top: 50px;
}

.privacy-box {
    height: 300px;
    width: 70%;
    padding: 20px;
    background-color: var(--color-text3);
    opacity: 0.9;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.privacy-border {
    border: solid 10px #ff9900;
    height: 150px;
    min-width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.privacy-title {
    color: #ff9900;
    font-size: 50px;
    display: flex;
    flex-wrap: wrap;
}

/* PRIVACY POLICY BANNER END */

.privacycontent-container {
    min-height: 80vh;
    width: 100%;
    background-image: url(../../assets/imageOne.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 100px;
}

.privacycontent-box {
    min-height: auto;
    min-width: 100%;
    background-color: var(--color-text3);
    border-radius: 20px;
    align-items: flex-start;
    padding: 20px 40px;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
}

.privacy1-box {
    
}

.privacy1 {
    font-size: 35px;
    color: var(--link-color);
    padding-left: 50px;
}

.privacy1-num {
    font-size: 20px;
    color: var(--link-color);
    padding-left: 50px; 
}

.privacy1-box p {
    font-size: 15px;
    color: var(--color-text1);
    padding-left: 70px;
}

.email {
    color: #ff9900;
    font-weight: 700;
}

@media only screen and (max-width: 420px) {
    .privacy-box {
        height: 200px;
        width: 80%;
        padding: 15px;
    }
    .privacy-border {
        border: solid 7px #ff9900;
        height: 150px;
        padding: 10px;
    }
    .privacy-title {
        font-size: 30px;
        display: flex;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 760px) {
    .privacy-box {
        height: 200px;
        width: 80%;
        padding: 15px;
    }
    .privacy-border {
        border: solid 7px #ff9900;
        height: 150px;
        padding: 10px;
    }
    .privacy-title {
        font-size: 30px;
        display: flex;
        flex-wrap: wrap;
    }
}

/* PRIVACY POLICY END HERE */

/* =================================================

TERMS AND CONDITIONS*/

.terms-container {
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.terms-banner {
    background-image: url(../../assets/faqbanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh;
    margin-top: 50px;
}

.terms-box {
    height: 300px;
    width: 70%;
    padding: 20px;
    background-color: var(--color-text3);
    opacity: 0.9;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.terms-border {
    border: solid 10px #ff9900;
    height: 150px;
    min-width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.terms-title {
    color: var(--link-color);
    font-size: 50px;
    display: flex;
    flex-wrap: wrap;
}

/*TERMS AND CONDITIONS BANNER END */

.termscontent-container {
    min-height: 80vh;
    width: 100%;
    background-image: url(../../assets/imageOne.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 100px;
}

.termscontent-box {
    min-height: auto;
    min-width: 100%;
    background-color: var(--color-text3);
    border-radius: 20px;
    align-items: flex-start;
    padding: 20px 40px;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
}

.terms1-box {
    
}

.terms1 {
    font-size: 35px;
    color: var(--color-text3);
    padding-left: 50px;
}

.terms1-num {
    font-size: 20px;
    color: var(--link-color);
    padding-left: 50px; 
}

.terms1-box p {
    font-size: 15px;
    color: var(--color-text1);
    padding-left: 70px;
}


@media only screen and (max-width: 420px) {
    .terms-box {
        height: 200px;
        width: 80%;
        padding: 15px;
    }
    .terms-border {
        border: solid 7px #ff9900;
        height: 150px;
        padding: 10px;
    }
    .terms-title {
        font-size: 30px;
        display: flex;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 760px) {
    .terms-box {
        height: 200px;
        width: 80%;
        padding: 15px;
    }
    .terms-border {
        border: solid 7px #ff9900;
        height: 150px;
        padding: 10px;
    }
    .terms-title {
        font-size: 30px;
        display: flex;
        flex-wrap: wrap;
    }
}

/* TERMS AND CONDITION END HERE*/