 


li{
    list-style: none;
}

#h2Cards{
    text-align: left;
   margin-bottom: 5px;
   margin-top: 20px ;
   color: rgb(61, 61, 99);
   /* color: rgb(243, 141, 8); */
   
   
}
 
 
 
 


 
 
 

 
