#divCardsContainer{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1000px;
    gap: 20px;
    margin: 30px auto;
   
}

.devCards{
    /* background-color: #dcdde4c0 ; */
    /* background:linear-gradient(-90deg, #281c47, #876cca); */
    background-color: var(--color-text5);
    box-shadow: 2px 2px 3px #a7a8b4;
    border-radius: 5px;
    display: flex;
    /* width: 600px; */
    /* margin: 30px; */
    max-width: 500px;
}

#devImage{
     
    height: 100px;
    width: 100px;
    margin-top: 30px;
    margin-left: 15px;
    border-radius: 50px;
    box-shadow: 0px 2px 5px rgb(107, 97, 2);
    filter: grayscale(90%);
}

#devInfo{
    width: 350px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    justify-content: space-between;
}

#devInfo a{
   
    text-decoration: none;
    color: var(--color-text2);
    /* color: rgb(243, 141, 8); */
}

#devInfo a:hover {
    color: var(--link-color);
    /* box-shadow: 0px 0px 2px; */
}

#name {
    color: var(--link-color) !important;

}

#devInfo  h5{
    
    color: var(--color-text1);
    margin-top: 10px;
  }

#devInfo h4 {
    /* text-decoration-line: underline; */
    color: var(--link-color);
    /* font-weight: lighter; */
}
   
#iconsContainer{
    display: flex;
    margin-top: 20px;
    
}
 

#iconsLink{
    margin-right: 20px;

}

 