@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,500;8..144,700&display=swap');

:root {
    /* --bg-color: linear-gradient(-90deg, #281c47, #876cca); */
    /* --bg-color: #494970; */
    --bg-color: #646493;
    /* --bg-color4: linear-gradient(272.51deg, #2E2D51 63.71%, rgb(121, 120, 212) 85.16%, rgba(141, 141, 141) 115.31%); */
    --bg-primary: #494970;
    --bg-hover: #62628f;
    --bg-color7: #494970;

    --bg-color2: white;
    --bg-color3: rgb(168, 166, 166);
    /* --link-color: #ff9900; */
    --link-color: #e4aa53;
    --card-color: #D5D6E3;
    --profile-color1: #3d2c63;
    /* --bg-hover: #876cca; */
    --color-hover: rgb(226, 222, 231);
    --color-text1: #494970;
    --color-text2: #7e7ec4;
    --color-text3: #cacae4;
    --color-text4: #dcdcee;
    --color-text5: #e7e7f1;
    /* --color-text2: #997ae7;
    --color-text3: #c5b5ee;
    --color-text4: #e3ddf2;
    --color-text5: #ede9f6; */
 }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Flex', sans-serif;
    background: url(./assets/imageOne.png);

}

#navbar-wrapper {
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    justify-content: center;
    padding: 5px;
    /* background-color: rgba(62, 48, 69, 0.8); */
    background: var(--bg-primary);
    /* background: linear-gradient(272.51deg, #2E2D51 63.71%, rgb(121, 120, 212) 85.16%, rgba(141, 141, 141) 115.31%); */
    box-shadow: 1px 1px 2px;
    z-index: 9;

}

#navbar {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    /* background-color: purple; */
}

#navbar .links {
    display: flex;
    /* border: solid green; */
    align-items: center;
    gap: 20px;

}

.links *{
    /* color: rgb(205, 181, 237); */
    color: var(--color-text5);

    text-decoration: none;
    /* font-size: 1rem; */
}

.links *:hover {
    color: var(--link-color);
    cursor: pointer;
}

#logo {
    width: 3rem;
    /* border: solid 1px red; */
}
#logo img {
    width: 100%;
}

#footer {
    width: 100vw;
    height: 10vh;
    /* background-color: rgba(53, 29, 66, 0.8); */
    background: linear-gradient(272.51deg, #2E2D51 63.71%, rgba(86, 84, 171, 0.51693) 85.16%, rgba(141, 141, 141, 0) 115.31%)
 
}

.nav-btn {
    display: none;
}

.login-btn {
    display: none;
    
}
.profile-btn {
    border-radius: 50%;
    width: 2.5rem;
    box-shadow: 1px 1px 1px var(--color-text2);
}
.profile-btn:hover {
    box-shadow: 1px 1px 1px var(--link-color);
}

.profile-btn img {
    width: 100%;
}

.profile-drop-down {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    top: 55px;
    right: 5vw;
    width: 100px;
    background: var(--bg-primary);
    /* background: var(--profile-color1); */
    color: var(--color-text5);
    border-radius: 5px;
    box-shadow: -2px 2px 2px var(--color-text5);
}

.profile-drop-down div:hover {
    /* background-color: var(--bg-hover); */
    color: var(--link-color);
    cursor: pointer;
}
.profile-drop-down div {
    width: 100%;
    padding: 10px;
}


.nav-btn:hover, .login-btn:hover {
    cursor: pointer;
    color: var(--link-color)
}

.nav-modal-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 50vw;
    height: 100vh;
    position: fixed;
    background-color: rgb(251, 250, 252);
    top: 0;
    left: 0;
    z-index: 9999;
}

.nav-modal-links .link {
    text-decoration: none;
    color: rgb(155, 136, 172);
}

.nav-modal-links .link:hover {
    color: rgb(112, 73, 147);
}




/* form style */

.close-btn {
    position: absolute;
    right: 40px;
    top: 20px;
    padding: 10px;
}

.close-btn:hover {
    cursor: pointer;
    border: solid 1px;
    /* padding: 10px; */
    border-radius: 50%;
    border-bottom: none;
    border-right: none;
    color: var(--link-color)
}

#login-modal {
    display: flex;
    position: fixed;
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
    /* gap: 40px; */
    /* padding: 20px; */
    top: 0;
    right: 0;
    width: 80vw;
    max-width: 800px;
    height: 100vh;
    background-color: var(--color-text4);
    z-index: 100;
}

.join-modal {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 70%;
}

.join-heading {
    color: var(--profile-color1)
}

.login-member {
    position: absolute;
    color: var(--profile-color1);
    bottom: 40px;
}

.btnl {
    /* background-color: purple; */
    padding: 10px;
    width: 100%;
    color: rgb(81, 43, 122);
    display: flex;
    justify-content: center;
    font-size: large;
    border: solid 1px;
}
.btnl:hover {
    cursor: pointer;
    background-color: var(--bg-hover);
    color: white;
}

.join-modal .input {
    width: 100%;
    /* border: solid 1px red; */
    font-size: large;
}

#email, #password {
    font-size: large;
    width: 100%;
    padding: 10px;
}

.forgot-password {
    color: var(--color-text2);
    font-size: small;
    align-self: end;
}

.forgot-password:hover {
    cursor: pointer;
    color: var(--link-color)
}

.ismember {
    color: var(--color-text2);
}
.ismember:hover {
    cursor: pointer;

    color: var(--link-color);
}


@media (max-width: 500px){
    #navbar .links {
        display: none;
    }
    .login-btn, .nav-btn {
        display: block;
        color: rgb(231, 226, 237);
    }
    .nav-btn {
        font-size: x-large;
    }
    #login-modal {
        width: 100vw;
    }
    #seller-profile {
        width: 100vw;
    }

}

